.leftImage{
    float: left;
}
.rightImage{
    float: right;
}
.shadow{
    margin-top: 25px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.descriptionCategory{
    margin-top: 70px;
    height: 0px;
}
.allCategories{
    width: 1140px;
    height: 260px;
}